<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wx2.user.mapper.UserCouponMapper">
    <update id="updateStatusByIds">
        UPDATE user_coupon
        SET status = #{status}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <insert id="insert">
        INSERT INTO user_coupon (
            id,
            user_id,
            coupon_id
        ) VALUES (
             #{id},
             #{userId},
             #{couponId}
         )
    </insert>

    <select id="selectByIds" resultType="com.wx2.user.model.entity.UserCoupon">
        SELECT *
        FROM user_coupon
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>